/* apply styles to <header> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
header {
    padding: 20px 35px;
    background-image: repeating-linear-gradient(rgb(89, 157, 247), rgb(121, 177, 223) 10%, rgb(35, 138, 223) 20%);
  }
  header h1 {
      font-weight: bold;
      font-size: 36px;
      color: white;
      margin: 0;
      display: inline;
  }
  header a {
      text-decoration: none;
      color:white;
  }
  header nav {
      float: right;
      margin: 7px 0;
  }
  header nav ul li {
      display: inline;
  }
  header nav ul li a {
      margin: 0 30px;
      font-weight: lighter;
      font-size: 22px;
  }
  .quote {
    background-image: url("./Images/pexels-johannes-plenio-1103970.jpg");
    height: 100px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .quote h2 {
    font-size: 25px;
    text-align: center;
    color: #02273b;
    /* margin-bottom: 25px; */
    padding: 0 100px 20px 100px;
    /* border-bottom: 3px solid; */
    /* border-color: #639ce6; */
  }

.intro {
    background-image: url("./Images/pexels-johannes-plenio-1103970.jpg");
    text-align: center;
    height: 400px;
}
.intro h2 {
  font-size: 55px;
  color: #013450;
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
}
.intro img {
    
    left: 20px;
    width: 200px;
    float: left;
    height: auto;
    border-radius: 10px;
}
.intro p {
  line-height: 1.7;
  color: #024e76;
  width: 80%;
  font-size: 20px;
}
.intro li {
    line-height: 1.7;
    color: #024e76;
    width: 80%;
    font-size: 20px;
  }
.projects {
    background-image: url("./Images/pexels-johannes-plenio-1103970.jpg");
    text-align: center;
    height: 450px;
}
.projects h2 {
  font-size: 55px;
  color: #013450;
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  text-align: center;

}

.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    display: inline;
    float: left;
    width: 200px;
    height: 250px;
  }
  
.gallery:hover {
    border: 1px solid #777;
  }
  
.gallery img {
    width: 100%;
    height: auto;
  }
  
.desc {
    color: #024e76
    padding: 15px;
    text-align: center;
  }
footer {
    padding: 20px 35px;
    background-image: repeating-linear-gradient(rgb(89, 157, 247), rgb(121, 177, 223) 10%, rgb(35, 138, 223) 20%);
}
footer h1 {
      font-weight: bold;
      font-size: 36px;
      color: white;
      margin: 0;
      display: inline;
}
footer a {
      text-decoration: none;
      color:white;
}
footer nav {
      float: right;
      margin: 7px 0;
}
footer nav ul li {
      display: inline;
}
footer nav ul li a {
      margin: 0 30px;
      font-weight: lighter;
      font-size: 22px;
}